#jumpIndexA-button {
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
  position: fixed;
  top: 0;
  right: 8px;
  padding: 0.0em 0.45em .2em 0.45em;
  z-index: 30;
  background: rgba(65,118,157,0.7);
  color: white;
  border-radius: .7em .7em 0 0;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

#jumpIndexA-button:focus {
  border-color: yellow;
}

#jumpIndexA {
  display: none;
  font-size: 16px;
  text-align: right;
  height: auto;
  width: 27em;
  line-height: 1.3em;
  padding: .65em;
  font-family: sans-serif;
  color: white;
}
#jumpIndexA * {
  margin: 0;
  padding: 0;
  font: inherit;
  text-indent: 0;
}
#jumpIndexA a {
  color: white;
  padding: 2px;
  text-decoration: none !important;
}
#jumpIndexA a:hover {
  color: #D93B00;
}
#jumpIndexA a:focus {
  color: #D93B00;
  background-color: yellow;
}
.jumpIndexA-other {
  border-top: 1px dashed white;
  padding-top: 6px !important;
  margin-top: 6px !important;
}
.jumpIndexA-other a:before {
  content: "\00ab";
}
.jumpIndexA-other a:after {
  content: "\00bb";
}
#jumpIndexA p::first-letter,
#jumpIndexA-other p::first-letter
{
  text-transform: none !important;
}
